<div class="main-container">
  <h1 class="page-title">SFU Confessions</h1>
  
  <div class="create-confession">
    <%= link_to "Write a confession", new_confession_path %>
  </div>

  <div class="confessions-list-container">
    <% @confessions.each do |confession| %>
      <div class="confession-container">
        <h3 class="title">
          <%= link_to "##{confession.id} #{confession.title}", confession_path(confession) %>
        </h3>

        <div class="links">
          <!-- shows edit and delete only if viewing user is the poster -->
          <% if current_user == confession.user %>
            <%= link_to "Delete", confession_path(confession), method: :delete, confirm: "Are you sure?" %>
          <% end %>
        </div>

        <p class="date"><%= confession.created_at.strftime("%B %d, %Y") %></p>
       <!--  JUST FOR EDITING PURPOSES -->
        <p>
          <% confession.hashtag_list.each do |tag| %>
           <%= "##{tag}" %>
          <% end %>
        </p>
        <p class="body"><%= confession.body %></p>
        <p class="info">
          <% if confession.comments.count > 0 %>
            <%= link_to "View comments (#{confession.comments.size})", confession_path(confession) %>
          <% else %>
            No comments
          <% end %>
        </p>
      </div>
    <% end %>
  </div>
  
</div>