<div class="show-confession-container">
  <h1><%= @confession.title %></h1>
  <p class="date"><%= @confession.created_at.in_time_zone(@confession.user.timezone).strftime("%B %d, %Y") %></p>
  <p><%= @confession.body.html_safe %></p>
  
  <%= render "/comments/partials/form" %>
  <br>
  <br>
  <%= render "/comments/partials/comments" %>
</div>