<div class="show-confession-container">
  <h1>#<%= @confession.id %> <%= @confession.title %></h1>
  <p class="date"><%= @confession.created_at.strftime("%B %d, %Y") %></p>
  <p><%= @confession.body.html_safe %></p>
  
  <%= render "/comments/partials/form" %>
  <br>
  <br>
  <%= render "/comments/partials/comments" %>
</div>