<% if current_user %>
  <div class="user-info-container">
    <!-- facebook profile picture -->
    <img src=<%= current_user.large_picture %> alt="" class="profile-picture">
    <p class="name"><%= current_user.name %></p>
      <% current_user.schools.each do |school| %>
        <p><%= school.name %></p>
      <% end %>
    <p><%= current_user.location %></p>
    <p>Email: <%= current_user.email %></p>
  </div>

  <div class="user-confession-container">
    <%= render "/confessions/partials/confession" %>
  </div>
<% end %>