<% if current_user %>
  <div class="user-info-container">
    <!-- facebook profile picture -->
    <img src=<%= current_user.large_picture %> alt="" class="profile-picture">

    <p class="name"><%= current_user.name %></p>
      <% current_user.schools.each do |school| %>
        <%= link_to "#{school.name}", school_path(school) %>
      <% end %>
    <p><%= current_user.location %></p>
    <p>Email: <%= current_user.email %></p>
    <p>Select Active School:</p>
    <p class="user-active-school"><%= @active_school.name %></p>
    <% @non_active_schools.each do |school| %>
      <%= link_to school.name, switch_school_path(school) %><br>
    <% end %>
  </div>

  <div class="user-confession-container">
    <% @confessions.each do |confession| %>
      <%= render partial: "/confessions/partials/confession", locals: {confession: confession} %>
    <% end %>
  </div>
<% end %>