<% if current_user %>
  <%= link_to "Home", root_path %>
  <p>
    <%= current_user.first_name %> <%= current_user.last_name %> is <%= @gender %>
  </p>
  <p>Email: <%= @email %></p>
<% else %>
<% end %>