<div class="comment-container">
  <% @comments.each do |comment| %>
    <%= react_component("CommentBox", {
      commenterName: comment.user.name,
      commenterLink: session_path(comment.user),
      commentBody: comment.body
    }) %>
    <% if current_user == comment.user %>
      <%= react_component("CommenterLinks", {
        editLink: edit_confession_comment_path(@confession, comment),
        deleteLink: confession_comment_path(@confession, comment), method: :delete
      }) %> <!-- how can i specify the HTTP method in the react component? -->
    <% end %>
    <%# <%= link_to "#{comment.user.first_name} #{comment.user.last_name}", session_path(comment.user) %>
    <%# <%= link_to "Edit", edit_confession_comment_path(@confession, comment) %>
    <%# <%= link_to "Delete", confession_comment_path(@confession, comment), method: :delete %>
    <%# <%= comment.body %>
    <hr>
  <% end %>
</div>