<!DOCTYPE html>
<html>
<head>
  <title>Speakee</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'normalize', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <% if current_user %>
      Signed in as <%= current_user.first_name %> <%= current_user.last_name %>
      <%= link_to "Sign out", signout_path, class: "sign-out" %>
    <% else %>
      <%= link_to "Sign in with Facebook", "/auth/facebook", class: "sign-in" %>
    <% end %>
  </header>

  <div class="template-container">
    <%= yield %>
  </div>

  <footer>
    &copy; 2015 | Johnny Ji | Awesome Footer
  </footer>
</body>
</html>

